<div class='container'>
 <div class='row'>
   <div class='col-md-12 text-center'>
     <footer role="contentinfo">
       <p><small>&copy; <a href="https://www.linkedin.com/in/raphael-sattler-29858ab0/">Raphael Sattler</a> 2018</small></p>
     </footer>
   </div>
 </div>
</div>